/*
html {
    background: url(../images/orion-nebula_2000x2000.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/



.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #000000;
    /*
    background-color: #00a087;
    */
}

/* set background as fixed image */
#background {
    position: fixed;
    top: 0;
    left: 0;
    /* preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
}

.fixed-nav-bar li, .fixed-nav-bar a {
    height: 50px;
    line-height: 50px;
    font: 30px Arial;
}

.menu {
    margin: 0 auto;
}

.menu a, .menu a:visited {
    color: #ffffff;
}

.menu a:hover, .menu a:target {
    color: #B3B3B3;
}

.menu-items {
    display: inline-block;
}

.menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-items a {
    text-decoration: none;
}

.menu-items a:hover, .menu-items a:active {
    color: #b3b3b3;
}

.content, .content-reactive {
    color: #ffffff;
    position: relative;
    z-index: 2;
    width: 600px;
    /* sets 50px margin to top and bottom, centers horizontally */
    margin: 50px auto;
    padding: 20px;
    background: #000000;
    -moz-box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
}

/* for showing multiple content divs side by side (like in the artwork portfolio) */
.content-reactive-grid {
    color: #ffffff;
    position: relative;
    z-index: 2;
    width: 600px;
    /* sets 50px margin to top, bottom and left */
    margin: 50px 50px auto;
    /* allows multiple per line based on screen width */
    display: inline-block;
    padding: 20px;
    background: #000000;
    -moz-box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
}

/* centering grids */
.grid-wrapper {
    position: relative;
    height: auto;
    width: auto;
    display: block;
    text-align: center;
}

/* some content divs should be reactive to mouseover */
.content-reactive:hover, .content-reactive-grid:hover {
    -moz-box-shadow: 0 0 40px #000000;
    -webkit-box-shadow: 0 0 40px #000000;
    box-shadow: 0 0 40px #000000;
}




.content p, .content h1, .content-reactive p, .content-reactive h1, .content-reactive-grid p, .content-reactive-grid h1 {
    font-family: Arial;
    /* margin: 0 0 30px 0; */
    /* text-indent: 40px; */
    color: #ffffff;
}

/* text-centering div */
.center {
    text-align: center;
}

/* 60 px text */
#large {
    font: 60px Arial;
}

/* thinner border (good for combining with #large) */
.thin-border {
    margin: auto;
}




/* spacer divs to manually create gaps*/
.spacer-100 {
    margin: 100px auto;
}

.spacer-250 {
    margin: 250px auto;
}




/* create a 180x180 container for image */
.port-img {
    width: 180px;
    height: 180px;
    margin-right: 20px;
    margin-bottom: auto;
    display: inline-block;
    /* stops img and desc from offsetting vertically */
    overflow: hidden;
}

/* create a 396x?? container for description */
.port-desc {
    /* why are there 4 extra pixels on the right side of portImg? */
    width: 396px;
    height: 180px;
    margin-bottom: auto;
    display: inline-block;
    /* stops img and desc from offsetting vertically */
    overflow: hidden;
}




/* remove underline from hyperlinks */
.button-link {
    text-decoration: none;
}




/* format the contact form */
.contact {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact input[type="text"], .contact input[type="email"] {
    width: 600px;
    height: 30px;
    margin-bottom: 15px;
}

.contact textarea {
    width: 600px;
    height: 150px;
    font: 12px Arial;
    margin-bottom: 15px;
}

.contact input[type="submit"] {
    width: 250px;
    height: 30px;
    font: 18px Arial;
    margin-left: 175px;
}

.contact input[type="submit"]:hover {
    background: #B3B3B3;
    /* removes ugly edge to button */
    border: none;
}